
[submodule "themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy
[submodule "public"]
	path = docs/public
	url = https://github.com/AtlasFoundation/atlasfoundation.github.io.git
	branch = master
